.bebidas {
    background-image: url('../imagens/bebidas.png') !important;
    
}
.padaria2{
    background-image: url('../resources/icons/Novos/Selecionados/padaria_.png') !important;
    
}

.bazar {
    background-image: url('../imagens/bazar-limpeza.png') !important;
}

.carnes {
    background-image: url('../imagens/carnes.png') !important;
}

.congelados {
    background-image: url('../imagens/congelados.png') !important;
 }

.favoritos {
    background-image: url('../imagens/favoritos.png') !important;
}

.frios {
    background-image: url('../imagens/frios.png') !important;
}

.frutas {
    background-image: url('../imagens/frutas.png') !important;
}

.higiene {
    background-image: url('../imagens/higiene-pessoal.png') !important;
}

.mercearia {
    background-image: url('../imagens/mercearia.png') !important;
}

.saude {
    background-image: url('../imagens/saude-beleza.png') !important;
}

.padaria {
    background-image: url('../imagens/padaria.png') !important;
   
    }

    
.bebidas-small {
    background-image: url('../imagens/small/bebidas-small.png') !important;
}

.bazar-small {
    background-image: url('../imagens/small/bazar-limpeza-small.png') !important;
}

.carnes-small {
    background-image: url('../imagens/small/carnes-small.png') !important;
}

.congelados-small {
    background-image: url('../imagens/small/congelados-small.png') !important;
}

.favoritos-small {
    background-image: url('../imagens/small/favoritos-small.png') !important;
}

.frios-small {
    background-image: url('../imagens/small/frios-small.png') !important;
}

.frutas-small {
    background-image: url('../imagens/small/frutas-small.png') !important;
}

.higiene-small {
    background-image: url('../imagens/small/higiene-pessoal-small.png') !important;
    height: 16px;
    width: 16px;
}

.mercearia-small {
    background-image: url('../imagens/small/mercearia-small.png') !important;
}

.saude-small {
    background-image: url('../imagens/small/saude-beleza-small.png') !important;
}

.padaria-small {
    background-image: url('../imagens/small/padaria-small.png') !important;
   
    }
    
.refresh-icon{
    background-image: url('../icons/refresh.png') !important;
   
    }
    
.panel1{
    border-color: #fff;
    border-top-color: #fff;
    background-color: #fff;
        
    }
.panel2{

    background-color: #33ffff;

}
.panel3{

    background-color: #ffff33;

}
.panel4{

    background-color: #000000;

}